* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9F6E6;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #E1EACD; */
    padding: 15px 0;
    border-bottom: 2px solid #8D77AB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #8D77AB;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-links a:hover {
    color: #8D77AB;
    background-color: #D6C9E1;
    border-radius: 20px;
}

.nav-links a.active{
    background-color: #8D77AB;
    color: #fff;
    border-radius: 12px;
}